body {
    font-family: 'Dancing Script', cursive;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
}

header {
    text-align: center;
}

.book {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('book.gif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80vh;
    padding: 20px;
    box-sizing: border-box;
}

.book-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.book-header a {
    position: absolute;
    top: 10px;
    color: #000;
    text-decoration: none;
}

.book-header a:hover {
    text-decoration: underline;
}

.book-header .home-link {
    left: 20px;
    padding-top: 10px;
    padding-left: 20px;
}

.book-header .help-link {
    right: 20px;
    padding-top: 10px;
    padding-right: 60px;
}

.page {
    position: absolute;
    width: 40%;
    top: 5%;
    left: 5%;
    padding: 20px;
    box-sizing: border-box;
}

.page:nth-child(2) {
    left: 55%;
}

.page .content {
    position: relative;
    width: 100%;
}

.column {
    flex: 1;
    position: absolute;
    text-align: left;
    top: 5%;
}

.column.today {
    left: 7%;
}

.column.tomorrow {
    right: 10%;
}

.today-tasks,
.tomorrow-tasks {
    position: absolute;
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
}

.today-tasks {
    left: 5%;
}

.task-cell {
    border-bottom: 1px solid gray;
    height: 30px;
    width: 300px;
}

.task-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 50px;
}

.completed {
    text-decoration: line-through;
}

.delete-task,
.move-task {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}

.move-icon {
    width: 20px;
    height: 20px;
    background-color: transparent;
}

.field_new_task {
    width: 350px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}

.field_new_task::placeholder {
    font-size: 2rem;
}
