{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="book">
    <div class="column today">
        <h2>Today</h2>
        <form action="/add-task" method="post">
            <input type="hidden" name="due_date" value="{{ today }}">
            <input class="field_new_task" type="text" name="task_today" placeholder="+ Add task">
        </form>
        <table id="today-tasks">
            {% for i in range(12) %}
            <tr>
                <td class="task-cell">
                    {% if today_tasks and i < today_tasks|length %}
                    <form action="/toggle-task-completion/{{ today_tasks[i].id }}" method="post">
                        <input type="hidden" name="task_id" value="{{ today_tasks[i].id }}">
                        <span {% if today_tasks[i].completed %}class="completed" {% endif %}>
                                    {{ today_tasks[i].task }}
                        </span>
                    </form>
                    {% endif %}
                </td>
                <td class="task-buttons">
                    {% if today_tasks and i < today_tasks|length %}
                        <button class="delete-task" data-id="{{ today_tasks[i].id }}" type="button">
                            <img class="move-icon" src="static/delete_icon.gif" alt="Delete">
                        </button>
                        <button class="move-task" data-id="{{ today_tasks[i].id }}" type="button">
                            <img class="move-icon"   src="static/to_right.gif" alt=">">
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>

    <div class="column tomorrow">
        <h2>Tomorrow</h2>
        <form action="/add-task" method="post">
            <input type="hidden" name="due_date" value="{{ tomorrow }}">
            <input class="field_new_task" type="text" name="task_tomorrow" placeholder="+ Add task">
        </form>
        <table id="tomorrow-tasks">
             {% for i in range(12) %}
            <tr>
                <td class="task-cell">
                     {% if tomorrow_tasks and i < tomorrow_tasks|length %}
                    <form action="/toggle-task-completion/{{ tomorrow_tasks[i].id }}" method="post">
                        <input type="hidden" name="task_id" value="{{ tomorrow_tasks[i].id }}">
                        <span {% if tomorrow_tasks[i].completed %}class="completed" {% endif %}>
                                    {{ tomorrow_tasks[i].task }}
                        </span>
                    </form>
                    {% endif %}

                </td>
                <td class="task-buttons">
                    {% if tomorrow_tasks and i < tomorrow_tasks|length %}
                       <button class="delete-task" data-id="{{ tomorrow_tasks[i].id }}" type="button">
                            <img class="move-icon" src="static/delete_icon.gif" alt="Delete">
                        </button>
                        <button class="move-task" data-id="{{ tomorrow_tasks[i].id }}" type="button">
                            <img class="move-icon"   src="static/to_left.gif" alt=">">
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>


    </div>
</div>

{% endblock %}


{% block scripts %}
<script>
    document.querySelectorAll('.task-cell').forEach(cell => {
        cell.addEventListener('click', () => {
            cell.querySelector('form').submit();
        });
    });
    document.querySelectorAll('.delete-task').forEach(button => {
        button.addEventListener('click', function(event) {
            event.stopPropagation();
            const taskId = event.currentTarget.dataset.id; // Измените event.target на event.currentTarget
            // Send a request to delete the task with the given ID.
            fetch(`/delete-task/${taskId}`, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert('Error: Could not delete task.');
                    }
                });
        });
    });

    document.querySelectorAll('.move-task').forEach(button => {
        button.addEventListener('click', function(event) {
            event.stopPropagation();
            const taskId = event.currentTarget.dataset.id; // Измените event.target на event.currentTarget
            // Send a request to move the task with the given ID to the other table.
            fetch(`/move-task/${taskId}`, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert('Error: Could not move task.');
                    }
                });
        });
    });

</script>

{% endblock %}
